[package]
name = "sinabro"
version = "0.0.1"
authors = ["Wongyu Lee <kyu21@outlook.com>"]
description = "eBPF-based Networking, Security, and Observability"
license = "Apache-2.0"
edition = "2021"

[dependencies]
tower-test = "0.4.0"
